/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

:root {
    --dark-theme-color-bg: #283943;
    --white-theme-color-bg: #FFF;
}

body {
    height: auto;
    min-height: 500px;

    background-color: var(--white-theme-color-bg);
}

/* img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */

#wrapper__white_background {
    position: absolute;
    
    z-index: -1
}

#wrapper__dark_background {
    position: absolute;

    z-index: -1;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: animated_start_pade 2.5s forwards;
}

#color__mode {
    width: 92%;
    height: 75px;

    margin-top: 5.6%;

    display: flex;
    justify-content: left;
}

#color__mode_button {
    width: 133px;
    height: 69px;

    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 3px;
    padding-right: 3px;

    border-radius: 43px;
    border: 1px solid #30A2A1;
    background: rgba(209, 201, 201, 0.37);
    backdrop-filter: blur(16px);
}

#color__mode_button_container_black {
    width: 63px;
    height: 63px;

    border-radius: 63px;
    background-color: var(--dark-theme-color-bg);    
}

#color__mode_button_container_black > div {
    width: 100%;
    height: 100%;

    background: url('../assets/svg/button_white.svg') no-repeat;
    background-position: center center;
}

#color__mode_button_container_white {
    width: 63px;
    height: 63px;

    border-radius: 63px;
    background-color: var(--white-theme-color-bg);    
}

#color__mode_button_container_white > div {
    width: 100%;
    height: 100%;

    background: url('../assets/svg/button_white.svg') no-repeat; 
    background-position: center center; 
}

#content {
    width: 92%;
    height: auto;
    padding-left: 51px;
    padding-right: 60px;

    margin-bottom: 13.2%;

    /* opacity: .3; */
}

.content__info_company {
    height: auto;

    margin-top: 29%;

    border-radius: 22px;
    background: rgba(135, 203, 205, 0.29);
    backdrop-filter: blur(10.5px);

    /* opacity: .3; */
}

.content__info_projects {
    margin-top: -3.2%;

    border-radius: 22px;
    background: rgba(135, 203, 205, 0.29);
    backdrop-filter: blur(10.5px);
}

.content__info_contacts {
    margin-top: 5.8%;
    margin-bottom: 2%;

    border-radius: 22px;
    background: rgba(135, 203, 205, 0.29);
    backdrop-filter: blur(10.5px);

}

#content > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
    height: 73px;
    vertical-align: middle;
    color: #000;
    font-size: 40px;
}

#content > p {
    color: #000;
    font-size: 3rem;
    text-indent: 20px;
    padding-bottom: 60px;
}

@media all and (max-width: 1900px) {
    #content > p {
        font-size: 2.7rem;
    }
    .content__info_projects {
        margin-top: 3.5%;

    }
    .content__info_contacts {
        margin-top: 12.5%;
    }
}

@media all and (max-width: 1850px) {
    .content__info_projects {
        margin-top: 0.75%;

    }
    .content__info_contacts {
        margin-top: 9.5%;
    }
}

@media all and (max-width: 1790px) {
    #content > p {
        font-size: 2.4rem;
    }
    .content__info_projects {
        margin-top: 4%;

    }
    .content__info_contacts {
        margin-top: 13%;
    }
}

@media all and (max-width: 1713px) {
    .content__info_projects {
        margin-top: 3%;

    }
    .content__info_contacts {
        margin-top: 11%;
    }
}

@media all and (max-width: 1658px) {
    .content__info_projects {
        margin-top: -0.5%;

    }
    .content__info_contacts {
        margin-top: 8%;
    }
}

@media all and (max-width: 1618px) {
    #content > p {
        font-size: 2.1rem;
    }
    .content__info_projects {
        margin-top: 3%;

    }
    .content__info_contacts {
        margin-top: 12.5%;
    }
}

@media all and (max-width: 1566px) {
    .content__info_projects {
        margin-top: 1.5%;

    }
    .content__info_contacts {
        margin-top: 11.5%;
    }
}

@media all and (max-width: 1520px) {
    #content > p {
        font-size: 1.8rem;
    }
    .content__info_company {
        margin-top: 28%;
    }
    .content__info_projects {
        margin-top: 6%;

    }
    .content__info_contacts {
        margin-top: 15%;
    }
}

@media all and (max-width: 1422px) {

    .content__info_projects {
        margin-top: 2%;

    }
    .content__info_contacts {
        margin-top: 11.5%;
    }
}

@media all and (max-width: 1392px) {
    #content > p {
        font-size: 1.5rem;
    }
    .content__info_projects {
        margin-top: 7%;

    }
    .content__info_contacts {
        margin-top: 17%;
    }
}

@media all and (max-width: 1338px) {
    .content__info_company {
        margin-top: 27%;
    }
    .content__info_projects {
        margin-top: 5%;

    }
    .content__info_contacts {
        margin-top: 14%;
    }
}

@media all and (max-width: 1270px) {

    .content__info_projects {
        margin-top: 3.5%;

    }
    .content__info_contacts {
        margin-top: 13%;
    }
}

@media all and (max-width: 1230px) {
    #content {
        padding-left: 30px;
        padding-right: 30px;
    }
    #content > h1 {
        margin-top: 20px;
    }
    #content > p {
        padding-bottom: 30px;
    }
    .content__info_projects {
        margin-top: 6%;

    }
    .content__info_contacts {
        margin-top: 15.5%;
    }
}

@media all and (max-width: 1153px) {
    .content__info_projects {
        margin-top: 4%;

    }
    .content__info_contacts {
        margin-top: 13.5%;
    }
}

@media all and (max-width: 1110px) {
    #content > p {
        font-size: 1.2rem;
    }
    .content__info_projects {
        margin-top: 9.5%;

    }
    .content__info_contacts {
        margin-top: 19%;
    }
}

@media all and (max-width: 1040px) {
    .content__info_projects {
        margin-top: 5.5%;

    }
    .content__info_contacts {
        margin-top: 16%;
    }
}

@media all and (max-width: 980px) {
    #content > h1 {
        font-size: 30px;
    }
    .content__info_projects {
        margin-top: 3.5%;

    }
    .content__info_contacts {
        margin-top: 14%;
    }
}

@media all and (max-width: 940px) {
    #content > h1 {
        margin-top: 10px;
    }
    .content__info_company {
        margin-top: 25%;
    }
    .content__info_projects {
        margin-top: 3%;

    }
    .content__info_contacts {
        margin-top: 11.5%;
    }
}

@media all and (max-width: 910px) {
    #content {
        padding-left: 20px;
        padding-right: 20px;
    }
    #content > h1 {
        margin-top: 0px;
    }
    #content > p {
        padding-bottom: 20px;
    }
    .content__info_company {
        margin-top: 25%;
    }
    .content__info_projects {
        margin-top: 4%;

    }
    .content__info_contacts {
        margin-top: 13.5%;
    }
}

@media all and (max-width: 867px) {
    .content__info_projects {
        margin-top: 2%;

    }
    .content__info_contacts {
        margin-top: 12%;
    }
}

@media all and (max-width: 840px) {
    #color__mode_button {
        height: 60px;
    }
    #color__mode_button_container_white {
        height: 53px;
    }
    #color__mode_button_container_black {
        height: 53px;
    }
    #content > h1 {
        height: 50px;
        font-size: 20px;
    }
    #content > p {
        font-size: 0.9rem;
    }
    .content__info_company {
        margin-top: 24%;
    }
    .content__info_projects {
        margin-top: 13%;

    }
    .content__info_contacts {
        margin-top: 21.5%;
    }
}

@media all and (max-width: 771px) {
    .content__info_projects {
        margin-top: 8%;

    }
    .content__info_contacts {
        margin-top: 18.5%;
    }
}

@media all and (max-width: 713px) {
    #color__mode_button {
        width: 120px;
        height: 50px;
    }
    #color__mode_button_container_white {
        width: 55px;
        height: 42px;
    }
    #color__mode_button_container_black {
        width: 55px;
        height: 42px;
    }
}


@media all and (max-width: 703px) {
    .content__info_projects {
        margin-top: 5%;

    }
    .content__info_contacts {
        margin-top: 16%;
    }
}

@media all and (max-width: 695px) {
    .content__info_projects {
        margin-top: 3%;

    }
    .content__info_contacts {
        margin-top: 13.5%;
    }
}

@media all and (max-width: 660px) {
    .content__info_company {
        margin-top: 21%;
    }
    .content__info_projects {
        margin-top: 3.5%;

    }
    .content__info_contacts {
        margin-top: 12.5%;
    }
}

@media all and (max-width: 637px) {
    .content__info_company {
        margin-top: 21%;
    }
    .content__info_projects {
        margin-top: 2%;

    }
    .content__info_contacts {
        margin-top: 11.5%;
    }
}

@media all and (max-width: 621px) {
    .content__info_projects {
        margin-top: 0%;

    }
    .content__info_contacts {
        margin-top: 7.5%;
    }
}

@media all and (max-width: 602px) {
    #content > h1 {
        font-size: 15px;
    }
    #content > p {
        font-size: 0.7rem;
    }
    .content__info_projects {
        margin-top: 6.5%;

    }
    .content__info_contacts {
        margin-top: 16%;
    }
}

@media all and (max-width: 565px) {
    .content__info_company {
        margin-top: 19.5%;
    }
    .content__info_projects {
        margin-top: 5.5%;

    }
    .content__info_contacts {
        margin-top: 14.5%;
    }
    #color__mode_button {
        width: 110px;
        height: 40px;
    }
    #color__mode_button_container_white {
        width: 45px;
        height: 32px;
    }
    #color__mode_button_container_black {
        width: 45px;
        height: 32px;
    }
}

@media all and (max-width: 557px) {
    .content__info_projects {
        margin-top: 3%;

    }
    .content__info_contacts {
        margin-top: 12%;
    }
}

@media all and (max-width: 541px) {
    #content > h1 {
        height: 40px;
    }
    #content > p {
        font-size: 0.6rem;
    }
    .content__info_projects {
        margin-top: 9.5%;

    }
    .content__info_contacts {
        margin-top: 18.5%;
    }
}

@media all and (max-width: 521px) {
    .content__info_projects {
        margin-top: 6.5%;

    }
    .content__info_contacts {
        margin-top: 16%;
    }
}

@media all and (max-width: 490px) {
    .content__info_company {
        margin-top: 18%;
    }
    .content__info_projects {
        margin-top: 5.5%;

    }
    .content__info_contacts {
        margin-top: 14%;
    }
}

@media all and (max-width: 482px) {
    .content__info_projects {
        margin-top: 3%;

    }
    .content__info_contacts {
        margin-top: 11.5%;
    }
}

@media all and (max-width: 470px) {
    #content {
        padding-left: 10px;
        padding-right: 10px;
    }
    #content > p {
        padding-bottom: 10px;
    }
    .content__info_company {
        margin-top: 17.5%;
    }
    .content__info_projects {
        margin-top: 6%;

    }
    .content__info_contacts {
        margin-top: 15%;
    }
}

@media all and (max-width: 460px) {
    .content__info_projects {
        margin-top: 3.5%;

    }
    .content__info_contacts {
        margin-top: 13%;
    }
}

@media all and (max-width: 437px) {
    #content > h1 {
        height: 30px;
        font-size: 10px;
        font-weight: bold;
    }
    #content > p {
        font-size: 0.5rem;
    }
    .content__info_company {
        margin-top: 16%;
    }
    .content__info_projects {
        margin-top: 11%;

    }
    .content__info_contacts {
        margin-top: 20%;
    }
}

@media all and (max-width: 427px) {
    .content__info_projects {
        margin-top: 8.5%;

    }
    .content__info_contacts {
        margin-top: 18%;
    }
}

@media all and (max-width: 404px) {
    .content__info_projects {
        margin-top: 6.5%;

    }
    .content__info_contacts {
        margin-top: 15.5%;
    }
}

@media all and (max-width: 388px) {
    .content__info_company {
        margin-top: 13.5%;
    }
    .content__info_projects {
        margin-top: 5%;

    }
    .content__info_contacts {
        margin-top: 13.5%;
    }
}

@media all and (max-width: 371px) {
    .content__info_company {
        margin-top: 12.5%;
    }
    .content__info_projects {
        margin-top: 4%;

    }
    .content__info_contacts {
        margin-top: 12%;
    }
}

@media all and (max-width: 360px) {
    .content__info_company {
        margin-top: 12.5%;
    }
    .content__info_projects {
        margin-top: 2.5%;

    }
    .content__info_contacts {
        margin-top: 11%;
    }
}

@media all and (max-width: 351px) {
    #content > h1 {
        height: 25px;
    }
    #content > p {
        font-size: 0.4rem;
    }
    .content__info_company {
        margin-top: 12%;
    }
    .content__info_projects {
        margin-top: 10%;

    }
    .content__info_contacts {
        margin-top: 19.5%;
    }
}

@media all and (max-width: 336px) {
    .content__info_company {
        margin-top: 11%;
    }
    .content__info_projects {
        margin-top: 7.5%;

    }
    .content__info_contacts {
        margin-top: 16.5%;
    }
}

@media all and (max-width: 314px) {
    .content__info_company {
        margin-top: 9%;
    }
    .content__info_projects {
        margin-top: 4.5%;

    }
    .content__info_contacts {
        margin-top: 13%;
    }
}

@media all and (max-width: 305px) {
    #content > h1 {
        font-size: 8px;
        height: 20px;
    }
    #content > p {
        font-size: 0.3.5rem;
    }
    .content__info_company {
        margin-top: 8.5%;
    }
    .content__info_projects {
        margin-top: 5%;

    }
    .content__info_contacts {
        margin-top: 13.5%;
    }
}

@media all and (max-width: 292px) {
    .content__info_company {
        margin-top: 7.5%;
    }
    .content__info_projects {
        margin-top: 3.5%;

    }
    .content__info_contacts {
        margin-top: 12.5%;
    }
}

@media all and (max-width: 292px) {
    #content > p {
        font-size: 0.3rem;
    }
   .content__info_company {
        margin-top: 6.5%;
    }
    .content__info_projects {
        margin-top: 10.5%;

    }
    .content__info_contacts {
        margin-top: 19.5%;
    }
}

@media all and (max-width: 264px) {
   .content__info_company {
        margin-top: 4.5%;
    }
    .content__info_projects {
        margin-top: 7.5%;

    }
    .content__info_contacts {
        margin-top: 16.5%;
    }
}

@media all and (max-width: 250px) {
    #content > h1 {
        font-size: 7px;
        height: 15px;
    }
    .content__info_company {
         margin-top: 3%;
     }
     .content__info_projects {
         margin-top: 8.5%;
 
     }
     .content__info_contacts {
         margin-top: 16.5%;
     }
}

@media all and (max-width: 243px) {
     .content__info_projects {
         margin-top: 5%;
 
     }
     .content__info_contacts {
         margin-top: 14%;
     }
}

@media all and (max-width: 233px) {
    .content__info_company {
         margin-top: 1%;
     }
     .content__info_projects {
         margin-top: 4.5%;
 
     }
     .content__info_contacts {
         margin-top: 12.5%;
     }
}

@media all and (max-width: 225px) {
    .content__info_company {
         margin-top: 0%;
     }
     .content__info_projects {
         margin-top: 3.5%;
 
     }
     .content__info_contacts {
         margin-top: 11.5%;
     }
}

@media all and (max-width: 221px) {
    #content > p {
        font-size: 0.2rem;
    }
    .content__info_company {
         margin-top: -0.5%;
     }
     .content__info_projects {
         margin-top: 12.5%;
 
     }
     .content__info_contacts {
         margin-top: 21.5%;
     }
}


@keyframes animated_start_pade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}