/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

:root {
    --dark-theme-color-bg: #283943;
    --white-theme-color-bg: #FFF;
}

* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'cyber-bold';
    src: url('./fonts/cyber-Bold.woff') format('woff');
} */

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: fit-content;

    background: url('../assets/svg/background_white.svg') no-repeat;
    background-size: cover;
    /* background-position:  center; */
    background-color: var(--white-theme-color-bg);
    background-attachment: local;

    animation: animated_start_pade 2.5s forwards;

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 240px;

    width: 100%;
    height: fit-content;

}

#color__mode {
    width: 92%;
    height: 75px;

    margin-top: 75px;

    display: flex;
    justify-content: left;
 
    /* background-color: #FFF;
    opacity: .3; */
}

#color__mode_button {
    width: 133px;
    height: 69px;

    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 3px;
    padding-right: 3px;

    border-radius: 43px;
    border: 1px solid #30A2A1;
    background: rgba(209, 201, 201, 0.37);
    backdrop-filter: blur(16px);
}

#color__mode_button_container_black {
    width: 63px;
    height: 63px;

    border-radius: 63px;
    background-color: var(--dark-theme-color-bg);    
}

#color__mode_button_container_black > div {
    width: 100%;
    height: 100%;

    background: url('../assets/svg/button_black.svg') no-repeat;
    background-position: center center;
}

#color__mode_button_container_white {
    width: 63px;
    height: 63px;

    border-radius: 63px;
    background-color: var(--white-theme-color-bg);    
}

#color__mode_button_container_white > div {
    width: 100%;
    height: 100%;

    background: url('../assets/svg/button_white.svg') no-repeat; 
    background-position: center center; 
}

#block1 {
    display: inline-block;

    width: 92%;
    height: 640px;

    font-size: 32px;

    margin-top: 19%;

    border-radius: 22px;
	background: linear-gradient(97deg, rgba(211, 244, 245, 0.19) 3.21%, rgba(211, 244, 245, 0.11) 96.17%);
	backdrop-filter: blur(10.5px);
}

#block2 {
    display: inline-block;

    width: 92%;
    height: 640px;

	border-radius: 22px;
	background: linear-gradient(97deg, rgba(211, 244, 245, 0.19) 3.21%, rgba(211, 244, 245, 0.11) 96.17%);
	backdrop-filter: blur(10.5px);
}

#block3 {
    display: inline-block;

    width: 92%;
    height: 440px;

    margin-top: 10%;
    margin-bottom: 150px;

	border-radius: 22px;
	background: linear-gradient(97deg, rgba(211, 244, 245, 0.19) 3.21%, rgba(211, 244, 245, 0.11) 96.17%);
	backdrop-filter: blur(10.5px);
}


@media all and (max-width: 1613px) {
    #block1 {
        margin-top: 15%;
    }
}

@media all and (max-width: 1354px) {
    #block1 {
        margin-top: 25%;
    }
}

@media all and (max-width: 1175px) {
    #block1 {
        margin-top: 28%;

        height: 550px;
    }

    #block2 {
        height: 550px;
    }
}

@media all and (max-width: 839px) {
    main {
        gap: 240px;
    }
    
    #block1 {
        margin-top: 40%;

        height: 440px;
    }

    #block2 {
        margin-top: 23%;

        height: 440px;
    }

    #block3 {
        margin-top: 43%;
    }
}

@keyframes animated_start_pade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}